table {
    border: 5px solid navy;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

h1 {
    text-align: center;
    position: relative;
    top: 80px;
}

body {
    background-color: teal;
}

td {
    height: 100px;
    width: 100px;
    background-color: black;
    border: 1px solid white;
}

td :hover {
    cursor: pointer;
    border-color: gold;
}

input {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
}

div #display {
    background-color: lightgrey;
}

#previous {
    color: grey;
    font-size: 15px;
}

#result {
    font-size: 25px;
}

#previous,
#result {
    text-align: right;
    height: 30px;
    background-color: white;
}